Repository augustinsangam/Draw-It: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-pre, client-lint, client-test, server-pre, server-lint, server-test

.gitlab-ci.yml:

image: node:buster

.cache: &client_cache
    key:
      files:
        - client/package-lock.json
      prefix: client
    paths:
      - client/node_modules/
.client: &client
  only:
    changes:
      - client/**/*
client-pre:
  stage: .pre
  script: npm --prefix client/ ci
  cache:
    <<: *client_cache
  <<: *client
client-lint:
  stage: build
  script: npm --prefix client/ run lint
  cache:
    <<: *client_cache
    policy: pull
  <<: *client
client-test:
  before_script:
    - apt-get update -qq && apt-get install -y -qq firefox-esr
    - firefox --version
  script:
    npm --prefix client/ run coverage -- --watch=false --browsers=FirefoxHeadless
  cache:
    <<: *client_cache
    policy: pull
  <<: *client

.cache: &server_cache
    key:
      files:
        - server/package.json
      prefix: server
    paths:
      - server/node_modules/
.server: &server
  only:
    changes:
      - server/**/*
server-pre:
  stage: .pre
  script: npm --prefix server/ i #ci
  cache:
    <<: *server_cache
  <<: *server
server-lint:
  stage: build
  script: npm --prefix server/ run lint
  cache:
    <<: *server_cache
    policy: pull
  <<: *server
server-test:
  script:
    - npm --prefix server/ run build
    - npm --prefix server/ run coverage #t
  cache:
    <<: *server_cache
    policy: pull
  <<: *server

Prise en compte des mouse leave dans la selection + ajustements des tests
  client/src/app/selection/selection-logic/selection-logic.component.spec.ts
  client/src/app/selection/selection-logic/selection-logic.component.ts
Due: client-pre, client-lint, client-test

Use lowercase headers
  server/src/constants.ts
Due: server-pre, server-lint, server-test

Afficher les statistiques de l’API
  server/src/router.ts
Due: server-pre, server-lint, server-test

Utiliser le nom de fichier original
  server/src/email.ts
Due: server-pre, server-lint, server-test

Corriger le bug de la sauvegarde de texte
  client/src/app/communication/communication.service.ts
Due: client-pre, client-lint, client-test

Envoyer le nom de l’image dans l’object BLOB
  client/src/app/communication/communication.service.ts
Due: client-pre, client-lint, client-test

Corriger le bug du parse de svg uri
  client/src/app/communication/communication.service.ts
  client/src/app/overlay/pages/export/export.component.spec.ts
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Sérialiser un arble de Element ou Text
  client/src/app/communication/communication.service.ts
  client/src/app/communication/data_generated.ts
  client/src/app/overlay/pages/save/save.component.ts
  data.fbs
  server/src/data_generated.ts
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

Corriger la compilation des tests
  client/src/app/communication/communication.service.spec.ts
  client/src/app/overlay/pages/export/export.component.spec.ts
Due: client-pre, client-lint, client-test

Gérer SIGTERM dans le serveur
  server/src/index.ts
Due: server-pre, server-lint, server-test

Ne pas afficher le PID du serveur car nodemon le fait
  server/src/index.ts
Due: server-pre, server-lint, server-test

Ajout de « npm-check-updates » dans les dépendances du serveur
  server/package.json
Due: server-pre, server-lint, server-test

Mise à jour des dépendances du serveur
  server/package.json
Due: server-pre, server-lint, server-test

Mise à jour de « flatbuffers » dans le client
  client/package.json
Due: client-pre, client-lint, client-test

Mise à jour de « flatbuffers » dans le client (package-lock.json)
  client/package-lock.json
Due: client-pre, client-lint, client-test

Résolution du bug de l'efface
  client/src/app/tool/eraser/eraser-logic/eraser-logic.component.spec.ts
  client/src/app/tool/eraser/eraser-logic/eraser-logic.component.ts
Due: client-pre, client-lint, client-test

Retrait du fdescribe
  client/src/app/tool/eraser/eraser-logic/eraser-logic.component.spec.ts
Due: client-pre, client-lint, client-test

test d'un bouton en dessous
  client/src/app/panel/panel.component.html
  client/src/app/panel/panel.component.scss
Due: client-pre, client-lint, client-test

ajout d'un petit bouton pour réduire les panels
  client/src/app/panel/panel.component.html
  client/src/app/panel/panel.component.scss
Due: client-pre, client-lint, client-test

clipboard petit bug sur la duplication fixee
  client/src/app/selection/selection-logic/clipboard.spec.ts
  client/src/app/selection/selection-logic/clipboard.ts
Due: client-pre, client-lint, client-test

Autorisez les requêtes depuis local et le serveur
  server/src/application.ts
Due: server-pre, server-lint, server-test

déplacement du bouton continuer un dessin + ajout d'infobulles sur les couleurs primaires, secondaires et d'arrière plan
  client/src/app/overlay/pages/home/home.component.ts
  client/src/app/tool/color/color-panel/color-panel.component.html
Due: client-pre, client-lint, client-test

test click de molette
  client/src/app/tool/color/color-panel/color-panel.component.ts
Due: client-pre, client-lint, client-test

Augmenter la limite de express à 25MiB
  server/src/application.ts
Due: server-pre, server-lint, server-test

Ajouter la méthode OPTIONS dans le header “Access-Control-Allow-Methods”
  server/src/application.ts
Due: server-pre, server-lint, server-test

sceau -> seau
  client/src/app/overlay/pages/home/home.component.ts
  client/src/app/overlay/pages/new-draw/new-draw.component.html
  client/src/app/sidebar/sidebar.component.html
  client/src/app/tool/bucket/bucket-panel/bucket-panel.component.html
  client/src/assets/doc/md/Sceau de peinture.md
  client/src/assets/doc/md/Seau de peinture.md
  client/src/assets/docs.json
Due: client-pre, client-lint, client-test

Espacer les HTTP méthodes pour respecter la spécification
  server/src/application.ts
Due: server-pre, server-lint, server-test

Correction des testes pour « export.component.ts »
  client/src/app/overlay/pages/export/export.component.html
  client/src/app/overlay/pages/export/export.component.spec.ts
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Couverture de 100% de la fonction « decodeElementRecursively »
  client/src/app/communication/communication.service.spec.ts
  client/src/app/communication/communication.service.ts
Due: client-pre, client-lint, client-test

Couverture de 100% de la fonction « encodeElementRecursively »
  client/src/app/communication/communication.service.spec.ts
  client/src/app/communication/communication.service.ts
  client/src/app/overlay/pages/save/save.component.ts
Due: client-pre, client-lint, client-test

Triple équal dans les comparaisons
  client/src/app/communication/communication.service.ts
Due: client-pre, client-lint, client-test

Fixer les erreurs TSLint
  client/src/app/communication/communication.service.ts
  client/src/app/overlay/pages/export/export.component.spec.ts
  client/src/app/overlay/pages/export/export.component.ts
  client/src/app/svg/svg.service.ts
Due: client-pre, client-lint, client-test

Crayon comme outil de base
  client/src/app/overlay/overlay.service.ts
  client/src/app/selection/selection-logic/deplacement.spec.ts
Due: client-pre, client-lint, client-test

Pop up dans l'exportation
  client/src/app/app.module.ts
  client/src/app/overlay/pages/export/confirmation-dialog-export.component.html
  client/src/app/overlay/pages/export/confirmation-dialog-export.component.ts
  client/src/app/overlay/pages/export/export-type.ts
  client/src/app/overlay/pages/export/export.component.spec.ts
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Pop up dans l'exportation fonctionne bien
  client/src/app/app.module.ts
  client/src/app/overlay/pages/export/confirmation-export.component.html
  client/src/app/overlay/pages/export/confirmation-export.component.ts
  client/src/app/overlay/pages/export/export.component.ts
  client/src/app/overlay/pages/export/progress-export.component.html
  client/src/app/overlay/pages/export/progress-export.component.ts
  client/src/assets/done.png
  client/src/assets/error.png
  client/src/assets/spinner.gif
Due: client-pre, client-lint, client-test

icône du guide plus discret + déplacement de l'efface plus haute
  client/src/app/sidebar/sidebar.component.html
  client/src/app/sidebar/sidebar.component.scss
Due: client-pre, client-lint, client-test

allègement de l'aérosol
  client/src/app/tool/drawing-instruments/aerosol/aerosol.service.ts
Due: client-pre, client-lint, client-test

Gestion du depassement de capacite
  client/src/app/auto-save/local-storage-handler.service.spec.ts
  client/src/app/auto-save/local-storage-handler.service.ts
Due: client-pre, client-lint, client-test

Avancement sur les tests de l'export
  client/src/app/overlay/overlay.service.spec.ts
  client/src/app/overlay/overlay.service.ts
  client/src/app/overlay/pages/export/confirmation-export.component.html
  client/src/app/overlay/pages/export/export.component.html
  client/src/app/overlay/pages/export/export.component.spec.ts
  client/src/app/overlay/pages/export/export.component.ts
  client/src/app/overlay/pages/export/progress-export.component.html
  client/src/app/overlay/pages/export/progress-export.component.scss
  client/src/app/overlay/pages/export/progress-export.component.ts
  client/src/app/selection/selection-logic/selection-logic.component.ts
Due: client-pre, client-lint, client-test

Renommer uri en url
  server/src/__tests__/email.ts
  server/src/application.ts
  server/src/database.ts
  server/src/secrets.json
Due: server-pre, server-lint, server-test
