Repository augustinsangam/Draw-It: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-pre, client-lint, client-test, server-pre, server-lint, server-test

.gitlab-ci.yml:

image: node:buster

.cache: &client_cache
    key:
      files:
        - client/package-lock.json
      prefix: client
    paths:
      - client/node_modules/
.client: &client
  only:
    changes:
      - client/**/*
client-pre:
  stage: .pre
  script: npm --prefix client/ ci
  cache:
    <<: *client_cache
  <<: *client
client-lint:
  stage: build
  script: npm --prefix client/ run lint
  cache:
    <<: *client_cache
    policy: pull
  <<: *client
client-test:
  before_script:
    - apt-get update -qq && apt-get install -y -qq firefox-esr
    - firefox --version
  script:
    npm --prefix client/ run coverage -- --watch=false --browsers=FirefoxHeadless
  cache:
    <<: *client_cache
    policy: pull
  <<: *client

.cache: &server_cache
    key:
      files:
        - server/package.json
      prefix: server
    paths:
      - server/node_modules/
.server: &server
  only:
    changes:
      - server/**/*
server-pre:
  stage: .pre
  script: npm --prefix server/ i #ci
  cache:
    <<: *server_cache
  <<: *server
server-lint:
  stage: build
  script: npm --prefix server/ run lint
  cache:
    <<: *server_cache
    policy: pull
  <<: *server
server-test:
  script:
    - npm --prefix server/ run build
    - npm --prefix server/ run coverage #t
  cache:
    <<: *server_cache
    policy: pull
  <<: *server

restructuration de la classe rectangle pour la rendre plus generique
  client/src/app/tool/shape/common/Rectangle.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.ts
Due: client-pre, client-lint, client-test

creation de la classe abstraite pour les formes
  client/src/app/tool/shape/common/AbstractShape.ts
  client/src/app/tool/shape/common/Polygone.ts
  client/src/app/tool/shape/common/Rectangle.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.html
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.scss
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.spec.ts
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.ts
  client/src/app/tool/shape/polygone/polygone.service.spec.ts
  client/src/app/tool/shape/polygone/polygone.service.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.ts
Due: client-pre, client-lint, client-test

Architecture du backend avec l’ajout de la base de donnée
  data.fbs
  readme
  server/.gitignore
  server/package.json
  server/src/application.ts
  server/src/data_generated.ts
  server/src/database.ts
  server/src/index.ts
  server/src/inversify.config.ts
  server/src/router.ts
  server/src/server.ts
  server/src/types.ts
  server/tsconfig.json
Due: server-pre, server-lint, server-test

utilisation de la classe abstraite pour la classe polygone
  package-lock.json
Due: none

creation de la classe commune polygon
  client/src/app/tool/shape/common/Polygone.ts
  client/src/app/tool/shape/common/Rectangle.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.ts
Due: client-pre, client-lint, client-test

ajout du rectangle de previsiualisation pour le polygone
  client/src/app/tool/shape/common/AbstractShape.ts
  client/src/app/tool/shape/common/Polygone.ts
  client/src/app/tool/shape/common/Rectangle.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.html
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.ts
Due: client-pre, client-lint, client-test

ellipse OK
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/common/Ellipse.ts
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.ts
Due: client-pre, client-lint, client-test

cercle done + correction du panel de l'ellipse
  client/src/app/sidebar/sidebar.component.ts
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/common/Ellipse.ts
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.ts
  client/src/app/tool/shape/ellipse/ellipse-panel/ellipse-panel.component.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.ts
Due: client-pre, client-lint, client-test

ajout du raccourci clavier de l'ellipse + tests de math service et app component de nouuveau done (100)
  client/src/app/app.component.spec.ts
  client/src/app/app.component.ts
  client/src/app/shortcut-handler.service.ts
  client/src/app/tool/mathematics/tool.math-service.service.spec.ts
Due: client-pre, client-lint, client-test

tests ellipse panel component
  client/src/app/tool/mathematics/tool.math-service.service.spec.ts
  client/src/app/tool/shape/ellipse/ellipse-panel/ellipse-panel.component.spec.ts
Due: client-pre, client-lint, client-test

La base de données est dorénavant un singleton
  readme
  server/src/database.ts
  server/src/index.ts
  server/src/inversify.config.ts
  server/src/router.ts
  server/src/server.ts
Due: server-pre, server-lint, server-test

tests ellipse logic done
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.spec.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.spec.ts
Due: client-pre, client-lint, client-test

maj icone ellipse
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.spec.ts
  client/src/assets/sidebar-icons/ellipse.png
Due: client-pre, client-lint, client-test

code cleaning
  client/src/app/tool/shape/common/Ellipse.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.spec.ts
Due: client-pre, client-lint, client-test

correction d'une typo dans le titre du panel...
  client/src/app/tool/shape/ellipse/ellipse-panel/ellipse-panel.component.html
Due: client-pre, client-lint, client-test

polygone se place correctement
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/common/Polygone.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
Due: client-pre, client-lint, client-test

ajout de l'icone polygone
  client/src/assets/polygone.png
Due: client-pre, client-lint, client-test

Processus de sélection fonctionnel
  client/src/app/tool/selection/MultipleSelection.ts
  client/src/app/tool/selection/Selection.ts
  client/src/app/tool/selection/SelectionReturn.ts
  client/src/app/tool/selection/SingleSelection.ts
  client/src/app/tool/selection/Zone.spec.ts
  client/src/app/tool/selection/Zone.ts
  client/src/app/tool/selection/selection-logic/selection-logic.component.html
  client/src/app/tool/selection/selection-logic/selection-logic.component.ts
Due: client-pre, client-lint, client-test

Refactoring: Classe abstraite Selection
  client/src/app/tool/selection/MultipleSelection.ts
  client/src/app/tool/selection/Selection.ts
  client/src/app/tool/selection/SingleSelection.ts
Due: client-pre, client-lint, client-test

merged polygone sur ellipse pour utiliser AbstractPath
  client/src/app/sidebar/sidebar.component.html
  client/src/app/tool/shape/common/Ellipse.ts
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.spec.ts
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.ts
  client/src/assets/sidebar-icons/polygone.png
Due: client-pre, client-lint, client-test

Ajout du nom et des étiquettes
  data.fbs
  server/.vscode/settings.json
  server/package.json
  server/src/data_generated.ts
Due: server-pre, server-lint, server-test

réparation des tests de ellipse
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.spec.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.spec.ts
Due: client-pre, client-lint, client-test

Reafficher node_modules dans vscode
  server/.vscode/settings.json
Due: server-pre, server-lint, server-test

Control A sélectionne tous les objets
  client/src/app/app.component.ts
  client/src/app/shortcut-handler.service.ts
  client/src/app/svg/svg.service.ts
  client/src/app/tool/selection/selection-logic/selection-logic.component.ts
Due: client-pre, client-lint, client-test

Ajout du fichier `secrets.json`
  server/src/secrets.json
Due: server-pre, server-lint, server-test

Retret du package-lock.json du root
  package-lock.json
Due: none

Retret du yarn.lock de client
  client/yarn.lock
Due: client-pre, client-lint, client-test

Ajout d’un timeout pour la fermeture du serveur
  server/src/index.ts
  server/src/router.ts
  server/src/server.ts
Due: server-pre, server-lint, server-test

déplacement du cercle fixé
  client/src/app/tool/mathematics/tool.math-service.service.spec.ts
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/common/Ellipse.ts
Due: client-pre, client-lint, client-test

Ajout de flatbuffers dans le client
  client/package-lock.json
  client/package.json
  client/src/app/app.component.ts
  client/src/app/communication/communication.service.spec.ts
  client/src/app/communication/communication.service.ts
  client/src/app/communication/data_generated.ts
  client/tslint.json
  server/src/application.ts
  server/src/router.ts
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

creation du polygone en partant d un cercle
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/common/Polygone.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
Due: client-pre, client-lint, client-test

Communication client vers serveur opérationnelle
  client/src/app/communication/communication.service.ts
  data.fbs
  server/src/index.ts
  server/src/router.ts
  server/src/server.ts
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

Points de controle fonctionnels
  client/src/app/tool/selection/MultipleSelection.ts
  client/src/app/tool/selection/SelectionReturn.ts
  client/src/app/tool/selection/Zone.ts
  client/src/app/tool/selection/selection-logic/ElementSelectedType.ts
  client/src/app/tool/selection/selection-logic/MouseTracking.ts
  client/src/app/tool/selection/selection-logic/selection-logic.component.ts
Due: client-pre, client-lint, client-test

utilisation des boarding rectangles
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/common/Polygone.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
Due: client-pre, client-lint, client-test

changement des elements elRef en svgElRef
  client/src/app/tool/shape/common/AbstractShape.ts
Due: client-pre, client-lint, client-test

Sérialisation de l’élément SVG fonctionne
  client/src/app/app.component.ts
  client/src/app/communication/communication.service.ts
  client/src/app/svg/svg.component.ts
  client/src/app/svg/svg.service.spec.ts
  client/src/app/svg/svg.service.ts
  client/src/app/tool/drawing-instruments/brush/brush-logic/brush-logic.component.spec.ts
  client/src/app/tool/drawing-instruments/pencil/pencil-logic/pencil-logic.component.spec.ts
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.spec.ts
  client/src/app/tool/shape/line/line-logic/line-logic.component.spec.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.spec.ts
  client/src/app/tool/tool-logic/tool-logic.directive.ts
Due: client-pre, client-lint, client-test

création outil pipette + début panel
  client/src/app/app.module.ts
  client/src/app/panel/panel.component.ts
  client/src/app/shortcut-handler.service.ts
  client/src/app/sidebar/sidebar.component.html
  client/src/app/sidebar/sidebar.component.ts
  client/src/app/tool/pipette/pipette-logic/pipette-logic.component.html
  client/src/app/tool/pipette/pipette-logic/pipette-logic.component.scss
  client/src/app/tool/pipette/pipette-logic/pipette-logic.component.spec.ts
  client/src/app/tool/pipette/pipette-logic/pipette-logic.component.ts
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.html
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.scss
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.spec.ts
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.ts
  client/src/app/tool/pipette/pipette.service.spec.ts
  client/src/app/tool/pipette/pipette.service.ts
  client/src/app/tool/tool.enum.ts
  client/src/assets/sidebar-icons/pipette.png
Due: client-pre, client-lint, client-test

Envoie du dessin fonctionne
  client/src/app/app.component.ts
  client/src/app/communication/communication.service.ts
  readme
  server/src/router.ts
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

aire remplie pour 4,8 et 12 cotes
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/common/AbstractShape.ts
  client/src/app/tool/shape/common/Polygone.ts
  client/src/app/tool/shape/common/Rectangle.ts
Due: client-pre, client-lint, client-test
