Repository augustinsangam/Draw-It: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-pre, client-lint, client-test, server-pre, server-lint, server-test

.gitlab-ci.yml:

image: node:buster

.cache: &client_cache
    key:
      files:
        - client/package-lock.json
      prefix: client
    paths:
      - client/node_modules/
.client: &client
  only:
    changes:
      - client/**/*
client-pre:
  stage: .pre
  script: npm --prefix client/ ci
  cache:
    <<: *client_cache
  <<: *client
client-lint:
  stage: build
  script: npm --prefix client/ run lint
  cache:
    <<: *client_cache
    policy: pull
  <<: *client
client-test:
  before_script:
    - apt-get update -qq && apt-get install -y -qq firefox-esr
    - firefox --version
  script:
    npm --prefix client/ run coverage -- --watch=false --browsers=FirefoxHeadless
  cache:
    <<: *client_cache
    policy: pull
  <<: *client

.cache: &server_cache
    key:
      files:
        - server/package.json
      prefix: server
    paths:
      - server/node_modules/
.server: &server
  only:
    changes:
      - server/**/*
server-pre:
  stage: .pre
  script: npm --prefix server/ i #ci
  cache:
    <<: *server_cache
  <<: *server
server-lint:
  stage: build
  script: npm --prefix server/ run lint
  cache:
    <<: *server_cache
    policy: pull
  <<: *server
server-test:
  script:
    - npm --prefix server/ run build
    - npm --prefix server/ run coverage #t
  cache:
    <<: *server_cache
    policy: pull
  <<: *server

fix de la gallerie
  client/src/app/overlay/pages/gallery/gallery-card/gallery-card.component.ts
  client/src/app/overlay/pages/gallery/gallery.component.html
  client/src/app/overlay/pages/gallery/gallery.component.spec.ts
  client/src/app/overlay/pages/gallery/tags-filter/tags-filter.component.html
  client/src/app/overlay/pages/gallery/tags-filter/tags-filter.component.scss
  client/src/app/overlay/pages/gallery/tags-filter/tags-filter.component.spec.ts
  client/src/app/overlay/pages/gallery/tags-filter/tags-filter.component.ts
  client/src/app/overlay/pages/save/save.component.html
  client/src/app/shortcut-handler/shortcut-handler-manager.service.spec.ts
Due: client-pre, client-lint, client-test

Retrait du fdescribe
  client/src/app/overlay/pages/gallery/gallery.component.spec.ts
Due: client-pre, client-lint, client-test

Ajout du bouton pour quitter la gallerie
  client/src/app/overlay/pages/gallery/gallery.component.html
  client/src/app/overlay/pages/gallery/gallery.component.scss
Due: client-pre, client-lint, client-test

Permettre l’envoi avec l’API depuis le serveur
  server/.gitignore
  server/package.json
  server/src/constants.ts
  server/src/email.ts
  server/src/inversify.config.ts
  server/src/router.ts
  server/src/secrets.json
Due: server-pre, server-lint, server-test

Envoyer au serveur l’image
  client/src/app/communication/communication.service.ts
  client/src/app/overlay/pages/export/export.component.html
  client/src/app/overlay/pages/export/export.component.scss
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

avancement texte
  client/src/app/tool/text/cursor.ts
  client/src/app/tool/text/text-logic/text-logic.component.ts
  client/src/app/tool/text/text.service.ts
Due: client-pre, client-lint, client-test

nettoyage du code
  client/src/app/overlay/pages/documentation/documentation.component.spec.ts
  client/src/app/overlay/pages/documentation/documentation.component.ts
  client/src/app/tool/mathematics/tool.math-service.service.spec.ts
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.spec.ts
Due: client-pre, client-lint, client-test

Enlever un TODO
  server/src/database.ts
Due: server-pre, server-lint, server-test

test mathService 100%
  client/src/app/tool/mathematics/tool.math-service.service.spec.ts
  client/src/app/tool/mathematics/tool.math-service.service.ts
Due: client-pre, client-lint, client-test

Préciser la nature du ignore
  server/src/database.ts
Due: server-pre, server-lint, server-test

Ignorer les max-classes dans le test
  server/src/__tests__/database.ts
Due: server-pre, server-lint, server-test

Ignorer le dossier uploads dans le serveur
  server/.gitignore
Due: server-pre, server-lint, server-test

Changement de transform a matrix
  client/src/app/tool/selection/selection-logic/selection-logic-base.ts
  client/src/app/tool/selection/selection-logic/transform.ts
Due: client-pre, client-lint, client-test

Ajout de notre auto save handler
  client/src/app/auto-save/local-storage-handler.service.spec.ts
  client/src/app/auto-save/local-storage-handler.service.ts
  client/src/app/tool/text/text-logic/text-logic.component.ts
  client/src/app/tool/text/text-panel/text-panel.component.ts
  client/src/app/tool/undo-redo/undo-redo.service.ts
Due: client-pre, client-lint, client-test

Reglement mise a jour gallerie apres suppression
  client/src/app/overlay/pages/gallery/gallery.component.ts
Due: client-pre, client-lint, client-test

test du path.ts complet
  client/src/app/tool/shape/line/line-logic/line-logic.component.spec.ts
Due: client-pre, client-lint, client-test

test 100% generale
  client/src/app/tool/shape/line/line-logic/line-logic.component.spec.ts
Due: client-pre, client-lint, client-test

Gérer les ids incorrects dans le delete
  server/src/__tests__/router-verify.ts
  server/src/__tests__/router.ts
  server/src/router.ts
Due: server-pre, server-lint, server-test

Simplifier le test de suppression avec id invalide
  server/src/__tests__/router.ts
Due: server-pre, server-lint, server-test

Gérer l’erreur 500 après l’opération GET
  client/src/app/communication/communication.service.ts
Due: client-pre, client-lint, client-test

Fix lint tags-filter.spec.ts
  client/src/app/overlay/pages/gallery/tags-filter/tags-filter.component.spec.ts
Due: client-pre, client-lint, client-test

reglage bug des contours qui reduise lair des formes
  client/src/app/tool/shape/common/abstract-shape.ts
  client/src/app/tool/shape/common/ellipse.ts
  client/src/app/tool/shape/common/polygone.ts
  client/src/app/tool/shape/common/rectangle.ts
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.ts
  client/src/app/tool/shape/line/line-panel/line-panel.component.html
  client/src/app/tool/shape/line/line-panel/line-panel.component.spec.ts
  client/src/app/tool/shape/line/line-panel/line-panel.component.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.ts
Due: client-pre, client-lint, client-test

Ne pas dupliquer les étiquettes
  client/src/app/communication/communication.service.ts
  client/src/app/overlay/pages/save/save.component.spec.ts
  client/src/app/overlay/pages/save/save.component.ts
Due: client-pre, client-lint, client-test

Retiret commentaire
  client/src/app/communication/communication.service.ts
Due: client-pre, client-lint, client-test

Retrait des commentaire inutiles de la gallerie
  client/src/app/overlay/pages/gallery/gallery-card/gallery-card.component.scss
  client/src/app/overlay/pages/gallery/gallery.component.spec.ts
  client/src/app/overlay/pages/gallery/tags-filter/tags-filter.component.scss
  client/src/app/overlay/pages/gallery/tags-filter/tags-filter.component.spec.ts
Due: client-pre, client-lint, client-test

finalisation de détails de code
  client/src/app/communication/communication.service.spec.ts
  client/src/app/overlay/pages/save/save.component.spec.ts
  client/src/app/tool/drawing-instruments/aerosol/aerosol-logic/aerosol-logic.component.spec.ts
  client/src/app/tool/drawing-instruments/aerosol/aerosol-panel/aerosol-panel.component.spec.ts
  client/src/app/tool/drawing-instruments/pencil/pencil-panel/pencil-panel.component.spec.ts
  client/src/app/tool/mathematics/tool.math-service.service.spec.ts
  client/src/app/tool/selection/selection.service.spec.ts
  client/src/app/tool/shape/common/abstract-shape.ts
  client/src/app/tool/shape/line/line-logic/line-logic.component.spec.ts
  server/src/__tests__/router.ts
  server/src/router.ts
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

Explication du paramètre inutilisé
  server/src/application.ts
Due: server-pre, server-lint, server-test

todo removed
  client/src/app/tool/color/color.service.ts
  client/src/app/tool/drawing-instruments/brush/brush-logic/brush-logic.component.ts
  client/src/app/tool/drawing-instruments/pencil-brush/pencil-brush-common.ts
  client/src/app/tool/shape/common/ellipse.ts
Due: client-pre, client-lint, client-test

Remove package-lock.json
  package-lock.json
Due: none

Retret package-lock.json
  package-lock.json
Due: none

Simplifier la boucle
  server/src/router.ts
Due: server-pre, server-lint, server-test

Comparaison explicite avec zéro
  server/src/router.ts
Due: server-pre, server-lint, server-test

fixer bodure perimetre pour le polygone, l ellipse et le rectangle
  client/src/app/tool/shape/common/polygone.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.spec.ts
Due: client-pre, client-lint, client-test

Implementation du undo redo dans pinceau
  client/src/app/tool/drawing-instruments/brush/brush-logic/brush-logic.component.ts
Due: client-pre, client-lint, client-test

ajout d'un titre pour sauvegarder
  client/src/app/overlay/pages/save/save.component.html
Due: client-pre, client-lint, client-test

Suppression cadre export
  client/src/app/overlay/pages/export/export.component.scss
Due: client-pre, client-lint, client-test

Fix du buz de la prévisualisation de l'efface
  client/src/app/tool/eraser/eraser-logic/eraser-logic.component.spec.ts
  client/src/app/tool/eraser/eraser-logic/eraser-logic.component.ts
  client/src/app/tool/selection/selection-logic/selection-logic-base.ts
  client/src/app/tool/undo-redo/undo-redo.service.ts
Due: client-pre, client-lint, client-test

Ajouter des vérifications sur l’ID
  server/src/router.ts
Due: server-pre, server-lint, server-test
