Repository augustinsangam/Draw-It: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-pre, client-lint, client-test, server-pre, server-lint, server-test

.gitlab-ci.yml:

image: node:buster

.cache: &client_cache
    key:
      files:
        - client/package-lock.json
      prefix: client
    paths:
      - client/node_modules/
.client: &client
  only:
    changes:
      - client/**/*
client-pre:
  stage: .pre
  script: npm --prefix client/ ci
  cache:
    <<: *client_cache
  <<: *client
client-lint:
  stage: build
  script: npm --prefix client/ run lint
  cache:
    <<: *client_cache
    policy: pull
  <<: *client
client-test:
  before_script:
    - apt-get update -qq && apt-get install -y -qq firefox-esr
    - firefox --version
  script:
    npm --prefix client/ run coverage -- --watch=false --browsers=FirefoxHeadless
  cache:
    <<: *client_cache
    policy: pull
  <<: *client

.cache: &server_cache
    key:
      files:
        - server/package.json
      prefix: server
    paths:
      - server/node_modules/
.server: &server
  only:
    changes:
      - server/**/*
server-pre:
  stage: .pre
  script: npm --prefix server/ i #ci
  cache:
    <<: *server_cache
  <<: *server
server-lint:
  stage: build
  script: npm --prefix server/ run lint
  cache:
    <<: *server_cache
    policy: pull
  <<: *server
server-test:
  script:
    - npm --prefix server/ run build
    - npm --prefix server/ run coverage #t
  cache:
    <<: *server_cache
    policy: pull
  <<: *server

avancement pipette
  client/package-lock.json
  client/package.json
  client/src/app/svg/svg.component.ts
  client/src/app/tool/pipette/pipette-logic/pipette-logic.component.ts
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.html
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.ts
  client/src/app/tool/pipette/pipette.service.ts
Due: client-pre, client-lint, client-test

ajout du decalage
  client/src/app/tool/mathematics/tool.math-service.service.ts
Due: client-pre, client-lint, client-test

Fix du lint
  client/src/app/pages/galery/galery.component.ts
Due: client-pre, client-lint, client-test

Partie du click gauche de la sélection fonctionnelle
  client/src/app/tool/selection/Selection.ts
  client/src/app/tool/selection/Zone.ts
  client/src/app/tool/selection/selection-logic/MouseTracking.ts
  client/src/app/tool/selection/selection-logic/selection-logic.component.ts
Due: client-pre, client-lint, client-test

Correction des bugs
  client/src/app/app.component.ts
  client/src/app/communication/communication.service.ts
  client/src/app/sidebar/sidebar.component.html
  client/src/app/sidebar/sidebar.component.scss
  server/src/router.ts
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

import du service de communication
  client/src/app/pages/galery/galery.component.ts
Due: client-pre, client-lint, client-test

pentagone fonctionnelle
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
Due: client-pre, client-lint, client-test

Lien symbolique
  client/src/app/communication/communication.service.ts
  client/src/app/communication/data_generated.ts
  data.fbs
  server/src/data_generated.ts
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

correction du comportement du cerle + ajout d'un rectangle de visualisation
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.ts
Due: client-pre, client-lint, client-test

Retret du lien symbolique
  client/src/app/communication/data_generated.ts
Due: client-pre, client-lint, client-test

Refactoring : Ajout de ToolManager
  client/src/app/panel/panel.component.ts
  client/src/app/svg/svg.component.ts
  client/src/app/tool/tool.enum.ts
  client/src/app/tool/tools.ts
Due: client-pre, client-lint, client-test

finition de hexagone
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
Due: client-pre, client-lint, client-test

triangle marche
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
Due: client-pre, client-lint, client-test

pipette v1
  client/src/app/tool/pipette/pipette-logic/pipette-logic.component.ts
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.html
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.ts
  server/package.json
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

getAll fonctionne
  client/src/app/app.component.ts
  client/src/app/communication/communication.service.ts
  server/package.json
  server/src/router.ts
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

Tentative d'ajout d'un filtre plus intelligent
  client/src/app/app.component.ts
  client/src/app/pages/galery/galery.component.html
  client/src/app/pages/galery/galery.component.ts
Due: client-pre, client-lint, client-test

pipette set primary in service, +EG
  client/src/app/tool/pipette/pipette-logic/pipette-logic.component.ts
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.html
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.ts
  client/src/assets/bob.jpg
Due: client-pre, client-lint, client-test

polygone finit pour les 12 cotes
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.html
  client/src/app/tool/shape/polygone/polygone.service.ts
Due: client-pre, client-lint, client-test

opacité à 100 lors de la création de l'ellipse
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.ts
Due: client-pre, client-lint, client-test

rajout du facteur multiplicatif de transition pour les polygones
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.html
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.scss
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.ts
Due: client-pre, client-lint, client-test

pipette cercle et hex
  client/src/app/app.component.ts
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.html
  client/src/app/tool/pipette/pipette-panel/pipette-panel.component.ts
  client/src/assets/bob.jpg
Due: client-pre, client-lint, client-test

merge + fixed polygone raccourcis + <head> avec DrawIt!
  client/src/app/app.component.ts
  client/src/app/shortcut-handler.service.ts
  client/src/app/tool/shape/common/Ellipse.ts
  client/src/index.html
Due: client-pre, client-lint, client-test

fixation pour le triangle
  client/src/app/tool/mathematics/tool.math-service.service.ts
  client/src/app/tool/shape/common/Ellipse.ts
Due: client-pre, client-lint, client-test

ajout d'un nouveau document dans la bd possible
  server/src/database.ts
  server/src/router.ts
Due: server-pre, server-lint, server-test

Ajout de la mise à jour avec putData
  server/src/router.ts
Due: server-pre, server-lint, server-test

retouchage des constantes pour chque forme
  client/src/app/tool/mathematics/tool.math-service.service.ts
Due: client-pre, client-lint, client-test

pipette prend maintenant en compte le changement d'arrière plan
  client/src/app/tool/pipette/pipette-logic/pipette-logic.component.ts
Due: client-pre, client-lint, client-test

ajout d'un wait cursor pendant le chargement de la pipette
  client/src/app/tool/pipette/pipette-logic/pipette-logic.component.ts
Due: client-pre, client-lint, client-test

Prototype d'inversion fonctionnel
  client/src/app/app.component.spec.ts
  client/src/app/app.component.ts
  client/src/app/communication/communication.service.ts
  client/src/app/sidebar/sidebar.component.html
  client/src/app/tool/selection/MultipleSelection.ts
  client/src/app/tool/selection/SingleSelection.ts
  client/src/app/tool/selection/selection-logic/ElementSelectedType.ts
  client/src/app/tool/selection/selection-logic/selection-logic.component.ts
  client/src/app/tool/shape/common/Polygone.ts
  client/src/app/tool/tools.ts
Due: client-pre, client-lint, client-test

Tentative reglage des erreurs
  client/src/app/pages/galery/galery.component.ts
Due: client-pre, client-lint, client-test

Mise à jour en temps réel des objets sélectionnés
  client/src/app/tool/selection/selection-logic/ElementSelectedType.ts
  client/src/app/tool/selection/selection-logic/selection-logic.component.ts
Due: client-pre, client-lint, client-test

Refactoring. Création de SelectionLogicBase
  client/src/app/tool/selection/selection-logic/SelectionLogicBase.ts
  client/src/app/tool/selection/selection-logic/selection-logic.component.ts
Due: client-pre, client-lint, client-test

initialisation du squelette du undo-redo
  client/src/app/tool/undo-redo/undo-redo.service.spec.ts
  client/src/app/tool/undo-redo/undo-redo.service.ts
Due: client-pre, client-lint, client-test

fonction de sauvegarde du svg pour le undo-redo implementer
  client/src/app/tool/undo-redo/undo-redo.service.ts
Due: client-pre, client-lint, client-test

Ajout fonction de la requete de supression
  server/src/router.ts
Due: server-pre, server-lint, server-test

Retrait de tous les ElementRef
  client/src/app/tool/selection/selection-logic/SelectionLogicBase.ts
  client/src/app/tool/selection/selection-logic/selection-logic.component.ts
Due: client-pre, client-lint, client-test

Ajout de mécanisme de sélection globale par mécanisme d'union
  client/src/app/tool/selection/MultipleSelection.ts
  client/src/app/tool/selection/selection-logic/SelectionLogicBase.ts
  client/src/app/tool/selection/selection-panel/selection-panel.component.html
  client/src/app/tool/selection/selection-panel/selection-panel.component.scss
  client/src/app/tool/selection/selection-panel/selection-panel.component.ts
  client/src/app/tool/selection/selection.service.spec.ts
  client/src/app/tool/selection/selection.service.ts
Due: client-pre, client-lint, client-test

Début de l'intégration de la classe rectangle
  client/src/app/tool/selection/selection-logic/SelectionLogicBase.ts
Due: client-pre, client-lint, client-test

Ajout de la recherche par nom
  server/src/router.ts
Due: server-pre, server-lint, server-test

Ajout de la recherche par id
  server/src/router.ts
Due: server-pre, server-lint, server-test
