Repository augustinsangam/Draw-It: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-pre, client-lint, client-test, server-pre, server-lint, server-test

.gitlab-ci.yml:

image: node:buster

.cache: &client_cache
    key:
      files:
        - client/package-lock.json
      prefix: client
    paths:
      - client/node_modules/
.client: &client
  only:
    changes:
      - client/**/*
client-pre:
  stage: .pre
  script: npm --prefix client/ ci
  cache:
    <<: *client_cache
  <<: *client
client-lint:
  stage: build
  script: npm --prefix client/ run lint
  cache:
    <<: *client_cache
    policy: pull
  <<: *client
client-test:
  before_script:
    - apt-get update -qq && apt-get install -y -qq firefox-esr
    - firefox --version
  script:
    npm --prefix client/ run coverage -- --watch=false --browsers=FirefoxHeadless
  cache:
    <<: *client_cache
    policy: pull
  <<: *client

.cache: &server_cache
    key:
      files:
        - server/package.json
      prefix: server
    paths:
      - server/node_modules/
.server: &server
  only:
    changes:
      - server/**/*
server-pre:
  stage: .pre
  script: npm --prefix server/ i #ci
  cache:
    <<: *server_cache
  <<: *server
server-lint:
  stage: build
  script: npm --prefix server/ run lint
  cache:
    <<: *server_cache
    policy: pull
  <<: *server
server-test:
  script:
    - npm --prefix server/ run build
    - npm --prefix server/ run coverage #t
  cache:
    <<: *server_cache
    policy: pull
  <<: *server

Ajout de la page de sauvegarde
  client/src/app/app.component.html
  client/src/app/app.module.ts
  client/src/app/communication/communication.service.ts
  client/src/app/overlay.service.ts
  client/src/app/pages/save/save.component.html
  client/src/app/pages/save/save.component.scss
  client/src/app/pages/save/save.component.spec.ts
  client/src/app/pages/save/save.component.ts
  client/src/app/sidebar/sidebar.component.html
  client/src/app/sidebar/sidebar.component.ts
  client/src/app/svg/svg.service.ts
Due: client-pre, client-lint, client-test

Utilisation du svgShape
  client/src/app/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Correction PUT
  client/src/app/pages/save/save.component.ts
  readme
  server/src/__tests__/router.ts
  server/src/router.ts
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

Adaptation a la derniere architecture
  client/src/app/overlay.service.ts
  client/src/app/pages/galery/galery.component.html
  client/src/app/pages/galery/galery.component.ts
  client/src/app/shortcut-handler/shortcut-handler-manager.service.ts
  client/src/app/svg/svg.service.ts
Due: client-pre, client-lint, client-test

DB dans son propre dossier
  server/package.json
Due: server-pre, server-lint, server-test

Undo redo fonctionnel avec l'éfface
  client/src/app/tool/eraser/eraser-logic/eraser-logic.component.ts
  client/src/app/tool/selection/selection-logic/selection-logic-base.ts
  client/src/app/tool/selection/selection-logic/selection-logic.component.ts
  client/src/app/tool/shape/line/line-logic/line-logic.component.ts
  client/src/app/tool/undo-redo/undo-redo.service.ts
Due: client-pre, client-lint, client-test

Ajout du pannel de la sélection
  client/src/app/tool/selection/selection-panel/selection-panel.component.html
  client/src/app/tool/selection/selection-panel/selection-panel.component.scss
  client/src/app/tool/selection/selection-panel/selection-panel.component.ts
Due: client-pre, client-lint, client-test

Augmenter la limite du _payload_
  server/src/application.ts
  server/src/router.ts
Due: server-pre, server-lint, server-test

Fix du visuel de la galerie et des filtres svg du brush
  client/src/app/pages/galery/galery.component.ts
  client/src/app/tool/drawing-instruments/brush/brush-logic/brush-logic.component.ts
Due: client-pre, client-lint, client-test

Save avec Angular Material
  client/src/app/pages/save/save.component.html
  client/src/app/pages/save/save.component.scss
  client/src/app/pages/save/save.component.ts
  client/src/app/panel/panel.component.ts
Due: client-pre, client-lint, client-test

Ajout de la couleur du backgroud dans la visualisation des dessins de la gallerie
  client/src/app/pages/galery/galery-card/galery-card.component.scss
  client/src/app/pages/galery/galery-card/galery-card.component.ts
Due: client-pre, client-lint, client-test

Reglage de export pour format svg
  client/src/app/pages/export/export.component.html
  client/src/app/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Suppression variable pas utile
  client/src/app/pages/save/save.component.ts
Due: client-pre, client-lint, client-test

Exportation fonctionnelle
  client/src/app/pages/export/export.component.ts
  client/src/app/pages/save/save.component.ts
Due: client-pre, client-lint, client-test

Lint + Refactoring
  client/src/app/app.module.ts
  client/src/app/communication/communication.service.ts
  client/src/app/overlay/overlay.service.ts
  client/src/app/overlay/pages/documentation/documentation.component.spec.ts
  client/src/app/overlay/pages/documentation/documentation.component.ts
  client/src/app/overlay/pages/new-draw/new-draw.component.ts
  client/src/app/overlay/pages/new-draw/palette-dialog.component.ts
  client/src/app/panel/panel.component.spec.ts
  client/src/app/panel/panel.component.ts
  client/src/app/shortcut-handler/shortcut-handler.service.ts
  client/src/app/svg/svg.component.spec.ts
  client/src/app/svg/svg.component.ts
  client/src/app/tool/applicator/applicator-logic/applicator-logic.component.ts
  client/src/app/tool/color/color-panel/color-panel.component.ts
  client/src/app/tool/color/color-panel/color-picker-content/color-picker-content.component.ts
  client/src/app/tool/color/color-panel/color-picker-content/mock-color-picker-content.component.ts
  client/src/app/tool/color/color-panel/color-picker-item/color-picker-item.component.ts
  client/src/app/tool/color/color.service.ts
  client/src/app/tool/drawing-instruments/aerosol/aerosol-logic/aerosol-logic.component.ts
  client/src/app/tool/drawing-instruments/aerosol/aerosol-panel/aerosol-panel.component.ts
  client/src/app/tool/drawing-instruments/brush/brush-logic/brush-logic.component.ts
  client/src/app/tool/drawing-instruments/pencil/pencil-logic/pencil-logic.component.ts
  client/src/app/tool/eraser/eraser-logic/eraser-logic.component.ts
  client/src/app/tool/grid/grid-logic/grid-logic.component.ts
  client/src/app/tool/pipette/pipette-logic/pipette-logic.component.ts
  client/src/app/tool/selection/multiple-selection.ts
  client/src/app/tool/selection/selection-logic/deplacement.spec.ts
  client/src/app/tool/selection/selection-logic/deplacement.ts
  client/src/app/tool/selection/selection-logic/selection-logic-base.ts
  client/src/app/tool/selection/selection-logic/selection-logic-util.ts
  client/src/app/tool/selection/selection-logic/selection-logic.component.ts
  client/src/app/tool/selection/selection-panel/selection-panel.component.ts
  client/src/app/tool/shape/ellipse/ellipse-logic/ellipse-logic.component.ts
  client/src/app/tool/shape/line/line-logic/line-logic.component.ts
  client/src/app/tool/shape/polygone/polygone-logic/polygone-logic.component.ts
  client/src/app/tool/shape/rectangle/rectangle-logic/rectangle-logic.component.ts
  client/src/app/tool/tool-selector/tool-selector.service.ts
  client/src/main.ts
  client/tslint.json
Due: client-pre, client-lint, client-test

Presque 100 % sur OverlayService
  client/src/app/app.component.spec.ts
  client/src/app/overlay/overlay.service.spec.ts
  client/src/app/overlay/overlay.service.ts
  client/src/app/shortcut-handler/shortcut-handler-manager.service.spec.ts
  client/src/app/shortcut-handler/shortcut-handler.service.spec.ts
  client/src/app/tool/color/color-panel/color-panel.component.spec.ts
  client/src/app/tool/color/color-panel/color-picker-content/color-picker-content.component.spec.ts
  client/src/app/tool/color/color-panel/color-picker-content/mock-color-picker-content.component.spec.ts
  client/src/app/tool/undo-redo/undo-redo.service.ts
Due: client-pre, client-lint, client-test

Cleanup du code avant refactoring
  client/src/app/app.component.scss
  client/src/app/app.module.ts
  client/src/app/overlay/overlay.service.ts
  client/src/app/overlay/pages/gallery/deleteconfirmation-dialog.component.html
  client/src/app/overlay/pages/gallery/deleteconfirmation-dialog.component.ts
  client/src/app/overlay/pages/gallery/gallery-card/gallery-card.component.html
  client/src/app/overlay/pages/gallery/gallery-card/gallery-card.component.scss
  client/src/app/overlay/pages/gallery/gallery-card/gallery-card.component.spec.ts
  client/src/app/overlay/pages/gallery/gallery-card/gallery-card.component.ts
  client/src/app/overlay/pages/gallery/gallery.component.html
  client/src/app/overlay/pages/gallery/gallery.component.scss
  client/src/app/overlay/pages/gallery/gallery.component.spec.ts
  client/src/app/overlay/pages/gallery/gallery.component.ts
  client/src/app/overlay/pages/home/home.component.spec.ts
  client/src/app/overlay/pages/home/home.component.ts
  client/src/app/shortcut-handler/shortcut-handler-manager.service.ts
  client/src/assets/doc/md/Créer un nouveau dessin.md
  client/src/assets/doc/md/Reprendre un dessin.md
Due: client-pre, client-lint, client-test

Change la commande de lancement
  readme
  server/tslint.json
Due: server-pre, server-lint, server-test

Remplace serveur mongodb locale par mlab
  server/src/database.ts
Due: server-pre, server-lint, server-test

Suppression des consoles log et ajout des filtres pinceau
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Ajout du mock pour response
  server/src/__tests__/router.ts
Due: server-pre, server-lint, server-test

utilisation des keys a la place des codes pour le shortcut handler
  client/src/app/shortcut-handler/shortcut-handler-manager.service.ts
  client/src/app/shortcut-handler/shortcut-handler.service.ts
Due: client-pre, client-lint, client-test

Ajout de tests
  client/src/app/app.component.spec.ts
  client/src/app/communication/communication.service.spec.ts
  client/src/app/communication/communication.service.ts
  client/src/app/overlay/overlay.service.spec.ts
  client/src/app/overlay/overlay.service.ts
  client/src/app/overlay/pages/galery/galery.component.ts
  client/src/app/shortcut-handler/shortcut-handler-manager.service.spec.ts
  client/src/app/sidebar/sidebar.component.ts
  client/src/app/svg/svg.component.spec.ts
  client/src/app/svg/svg.service.spec.ts
  client/src/app/tool/selection/multiple-selection.ts
  client/src/app/tool/selection/selection-logic/selection-logic-base.ts
Due: client-pre, client-lint, client-test

Utiliser SvgShape et SvgHeader
  client/src/app/communication/communication.service.ts
  client/src/app/overlay/pages/save/save.component.ts
Due: client-pre, client-lint, client-test

L’ID débute à 1
  server/src/database.ts
Due: server-pre, server-lint, server-test

tests pour les shortcuts reparer
  client/src/app/shortcut-handler/shortcut-handler.service.spec.ts
Due: client-pre, client-lint, client-test

enter devient le bouton par default pour la page du save et du new-draw
  client/src/app/overlay/pages/export/export.component.html
  client/src/app/overlay/pages/export/export.component.scss
  client/src/app/overlay/pages/save/save.component.html
  client/src/app/overlay/pages/save/save.component.scss
  client/src/app/panel/panel.component.scss
Due: client-pre, client-lint, client-test

remise des changements
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Avancement du refactoring de la gallerie et corrections de bugs
  client/src/app/communication/communication.service.ts
  client/src/app/overlay/overlay.service.ts
  client/src/app/overlay/pages/gallery/gallery-card/gallery-card.component.html
  client/src/app/overlay/pages/gallery/gallery-card/gallery-card.component.ts
  client/src/app/overlay/pages/gallery/gallery.component.html
  client/src/app/overlay/pages/gallery/gallery.component.ts
  client/src/app/overlay/pages/save/save.component.html
  client/src/app/sidebar/sidebar.component.ts
Due: client-pre, client-lint, client-test

Fix bug gallerie
  client/src/app/overlay/overlay.service.ts
  client/src/app/tool/color/color-panel/color-picker-content/color-picker-content.component.ts
Due: client-pre, client-lint, client-test

Ajout de constantes pour les couleurs
  server/src/__tests__/router.ts
  server/src/application.ts
  server/src/color.ts
  server/src/router.ts
Due: server-pre, server-lint, server-test

Ajout de la fonction de configuration de la visualisation
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

id à 0 à chaque création de dessin
  client/src/app/overlay/overlay.service.ts
Due: client-pre, client-lint, client-test

Suppression de ligne inutile
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

debut du reglage de bug pour les raccourcis de la grille
  client/src/app/shortcut-handler/shortcut-handler-manager.service.ts
  client/src/app/shortcut-handler/shortcut-handler.service.spec.ts
  client/src/app/tool/grid/grid.service.ts
Due: client-pre, client-lint, client-test

Il est désormais impossible de spamer le bouton de sauvegarde
  client/src/app/overlay/pages/save/save.component.html
  client/src/app/overlay/pages/save/save.component.ts
  client/src/app/tool/selection/selection-panel/selection-panel.component.html
Due: client-pre, client-lint, client-test

Fix des bugs et fonctionnalite manquantes
  client/src/app/overlay/pages/gallery/gallery.component.html
  client/src/app/overlay/pages/gallery/gallery.component.scss
  client/src/app/overlay/pages/gallery/gallery.component.ts
  client/src/app/overlay/pages/gallery/tags-filter/tags-filter.component.ts
Due: client-pre, client-lint, client-test
