Repository augustinsangam/Draw-It: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-pre, client-lint, client-test, server-pre, server-lint, server-test

.gitlab-ci.yml:

image: node:buster

.cache: &client_cache
    key:
      files:
        - client/package-lock.json
      prefix: client
    paths:
      - client/node_modules/
.client: &client
  only:
    changes:
      - client/**/*
client-pre:
  stage: .pre
  script: npm --prefix client/ ci
  cache:
    <<: *client_cache
  <<: *client
client-lint:
  stage: build
  script:
    - npm install -g @angular/cli
    - ng build -prod
    - npm --prefix client/ run lint
  cache:
    <<: *client_cache
    policy: pull
  <<: *client
client-test:
  script: npm --prefix client/ t
  <<: *client

.cache: &server_cache
    key:
      files:
        - server/package-lock.json
      prefix: server
    paths:
      - server/node_modules/
.server: &server
  only:
    changes:
      - server/**/*
server-pre:
  stage: .pre
  script: npm --prefix server/ ci
  cache:
    <<: *server_cache
  <<: *server
server-lint:
  stage: build
  script: npm --prefix server/ run lint
  cache:
    <<: *server_cache
    policy: pull
  <<: *server
server-test:
  script: npm --prefix server/ t
  <<: *server

Essai de fix du ci 3
  .gitlab-ci.yml
Due: none

refactoring de l'evenement click
  client/package-lock.json
  client/package.json
  client/src/app/app.component.ts
  client/src/app/svg/svg.service.spec.ts
  client/src/app/svg/svg.service.ts
  client/src/app/tool/line/line-logic/Path.ts
  client/src/app/tool/line/line-logic/line-logic.component.ts
Due: client-pre, client-lint, client-test

refactoring du double click
  client/src/app/app.component.ts
  client/src/app/svg/svg.service.spec.ts
  client/src/app/svg/svg.service.ts
  client/src/app/tool/line/line-logic/line-logic.component.ts
Due: client-pre, client-lint, client-test

changement de la classe point
  client/src/app/app.component.ts
  client/src/app/tool/line/line-logic/Path.ts
  client/src/app/tool/line/line-logic/line-logic.component.ts
Due: client-pre, client-lint, client-test

creation du service de mathematique
  client/src/app/tool/line/line-logic/Circle.ts
  client/src/app/tool/line/line-logic/Path.ts
  client/src/app/tool/line/line-logic/line-logic.component.ts
Due: client-pre, client-lint, client-test

ajout de la fonction pour le shift dans le service
  client/src/app/tool/line/line-logic/Path.ts
  client/src/app/tool/line/line-logic/line-logic.component.ts
Due: client-pre, client-lint, client-test

ajout d une interface pour toutes les donnes du path
  client/src/app/tool/line/line-logic/Path.ts
  client/src/app/tool/line/line-logic/line-logic.component.ts
Due: client-pre, client-lint, client-test

Fix des fichiers manquants
  client/src/app/tool/line/line-logic/Circle.ts
  client/src/app/tool/line/line-logic/PathData.ts
  client/src/app/tool/line/line-logic/line-logic-math.service.spec.ts
  client/src/app/tool/line/line-logic/line-logic-math.service.ts
Due: client-pre, client-lint, client-test

Fix lint
  client/src/app/app.component.ts
  client/src/app/tool/line/line-logic/Path.ts
Due: client-pre, client-lint, client-test

100 pourcent de coverage : service en public + ajout d'un viewchild pour passer les tests + lint
  client/src/app/tool/brush/brush-panel/brush-panel.component.html
  client/src/app/tool/brush/brush-panel/brush-panel.component.spec.ts
  client/src/app/tool/brush/brush-panel/brush-panel.component.ts
Due: client-pre, client-lint, client-test

Résolution du bug du slider toggle
  client/src/app/app.component.ts
  client/src/app/svg/svg.service.spec.ts
  client/src/app/svg/svg.service.ts
  client/src/app/tool/color/color-panel/color-panel.component.html
  client/src/app/tool/color/color-panel/color-panel.component.ts
  client/src/app/tool/color/color.service.ts
  client/src/app/tool/rectangle/rectangle-panel/rectangle-panel.component.ts
Due: client-pre, client-lint, client-test

Lint + Fix tests
  client/src/app/app.component.ts
  client/src/app/tool/color/color-panel/color-panel.component.spec.ts
  client/src/app/tool/color/color-panel/color-panel.component.ts
Due: client-pre, client-lint, client-test

100% coverage color-panel
  client/src/app/tool/color/color-panel/color-panel.component.spec.ts
Due: client-pre, client-lint, client-test

Transfert de la fonction drawing dans la classe commune
  client/src/app/tool/brush/brush-logic/brush-logic.component.ts
  client/src/app/tool/pencil-brush/pencil-brush-common.ts
  client/src/app/tool/pencil/pencil-logic/pencil-logic.component.ts
Due: client-pre, client-lint, client-test

100 pourcent de coverage, service rendu public et lint des tests
  client/src/app/tool/rectangle/rectangle-panel/rectangle-panel.component.html
  client/src/app/tool/rectangle/rectangle-panel/rectangle-panel.component.spec.ts
  client/src/app/tool/rectangle/rectangle-panel/rectangle-panel.component.ts
Due: client-pre, client-lint, client-test

Add test for palette-dialog-component
  client/src/app/pages/new-draw/palette-dialog.component.spec.ts
  client/src/app/pages/new-draw/palette-dialog.component.ts
  client/src/app/tool/color/color-panel/color-panel.component.spec.ts
Due: client-pre, client-lint, client-test

Merge de test/brush-panel et test/rectangle-panel
  client/src/app/tool/brush/brush-panel/brush-panel.component.spec.ts
Due: client-pre, client-lint, client-test

Suppression de variables et deplacement de mouseOnHold
  client/src/app/tool/brush/brush-logic/brush-logic.component.ts
  client/src/app/tool/pencil-brush/pencil-brush-common.ts
  client/src/app/tool/pencil/pencil-logic/pencil-logic.component.ts
Due: client-pre, client-lint, client-test

Fix du testbed et ajout de tests (utiles??).
  client/src/app/pages/home/home.component.spec.ts
Due: client-pre, client-lint, client-test

Suppression de defineFilter du pinceau
  client/src/app/tool/brush/brush-logic/brush-logic.component.ts
  client/src/app/tool/pencil/pencil-logic/pencil-logic.component.ts
Due: client-pre, client-lint, client-test

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Transfert de onMouseMove dans la classe de base
  client/src/app/tool/brush/brush-logic/brush-logic.component.ts
  client/src/app/tool/pencil-brush/pencil-brush-common.ts
  client/src/app/tool/pencil/pencil-logic/pencil-logic.component.ts
Due: client-pre, client-lint, client-test

Transfert de makeFirstPoint dans la classe de base
  client/src/app/tool/brush/brush-logic/brush-logic.component.ts
  client/src/app/tool/pencil-brush/pencil-brush-common.ts
  client/src/app/tool/pencil/pencil-logic/pencil-logic.component.ts
Due: client-pre, client-lint, client-test

Partie serveur mise en commentaire
  .gitlab-ci.yml
Due: none

Mise en commentaire de la partie serveur dans le CI
  .gitlab-ci.yml
Due: none

Update client/karma.conf.js
  client/karma.conf.js
Due: client-pre, client-lint, client-test

Tentative d'ajout de tests
  client/src/app/panel/panel.component.spec.ts
Due: client-pre, client-lint, client-test

Restauration du CI
  .gitlab-ci.yml
Due: none

Ajout de firefox dans le CI
  .gitlab-ci.yml
Due: none

Forcer execution du CI
  client/temp
Due: client-pre, client-lint, client-test

Ajout des noms pours les textures. Couleur d'arrière plan comme couleur récente
  client/src/app/app.component.ts
  client/src/app/tool/brush/brush-panel/brush-panel.component.html
  client/src/app/tool/brush/brush-panel/brush-panel.component.ts
  client/src/app/tool/color/color-panel/color-pickler-content/mock-color-pickler-content.component.ts
Due: client-pre, client-lint, client-test

100% de coverage sur le MockComponent
  client/src/app/tool/color/color-panel/color-pickler-content/mock-color-pickler-content.component.spec.ts
Due: client-pre, client-lint, client-test

Supprimer fichier inutile
  client/temp
Due: client-pre, client-lint, client-test

Ajout du cache dans le test serveur
  .gitlab-ci.yml
Due: none

Executer coverage en plus des tests
  .gitlab-ci.yml
Due: none

début tests svg.component
  client/src/app/svg/svg.component.spec.ts
Due: client-pre, client-lint, client-test

Nouveau package.json pour le serveur
  .gitlab-ci.yml
  server/.gitignore
  server/package-lock.json
  server/package.json
Due: server-pre, server-lint, server-test

brush-panel service de nouveau private
  client/src/app/tool/brush/brush-panel/brush-panel.component.spec.ts
  client/src/app/tool/brush/brush-panel/brush-panel.component.ts
Due: client-pre, client-lint, client-test
