Repository augustinsangam/Draw-It: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-pre, client-lint, client-test, server-pre, server-lint, server-test

.gitlab-ci.yml:

image: node:buster

.cache: &client_cache
    key:
      files:
        - client/package-lock.json
      prefix: client
    paths:
      - client/node_modules/
.client: &client
  only:
    changes:
      - client/**/*
client-pre:
  stage: .pre
  script: npm --prefix client/ ci
  cache:
    <<: *client_cache
  <<: *client
client-lint:
  stage: build
  script: npm --prefix client/ run lint
  cache:
    <<: *client_cache
    policy: pull
  <<: *client
client-test:
  before_script:
    - apt-get update -qq && apt-get install -y -qq firefox-esr
    - firefox --version
  script:
    npm --prefix client/ run coverage -- --watch=false --browsers=FirefoxHeadless
  cache:
    <<: *client_cache
    policy: pull
  <<: *client

.cache: &server_cache
    key:
      files:
        - server/package.json
      prefix: server
    paths:
      - server/node_modules/
.server: &server
  only:
    changes:
      - server/**/*
server-pre:
  stage: .pre
  script: npm --prefix server/ i #ci
  cache:
    <<: *server_cache
  <<: *server
server-lint:
  stage: build
  script: npm --prefix server/ run lint
  cache:
    <<: *server_cache
    policy: pull
  <<: *server
server-test:
  script:
    - npm --prefix server/ run build
    - npm --prefix server/ run coverage #t
  cache:
    <<: *server_cache
    policy: pull
  <<: *server

Utiliser une comparaison explicite
  server/src/router.ts
Due: server-pre, server-lint, server-test

Augmenter le timeout à 20s
  client/src/app/communication/communication.service.ts
Due: client-pre, client-lint, client-test

icones de la sidebar
  client/src/app/sidebar/sidebar.component.html
  client/src/assets/sidebar-icons/aerosol.png
  client/src/assets/sidebar-icons/bucket.png
  client/src/assets/sidebar-icons/ellipse.png
  client/src/assets/sidebar-icons/feather.png
  client/src/assets/sidebar-icons/gimp-prefs-help-system.svg
  client/src/assets/sidebar-icons/gimp-prefs-import-export.png
  client/src/assets/sidebar-icons/grid.png
  client/src/assets/sidebar-icons/pipette.png
  client/src/assets/sidebar-icons/text.png
  client/src/assets/sidebar-icons/texte.png
Due: client-pre, client-lint, client-test

Modifications mineures
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Bug du décalage dans le presse papier + click de molette dans la palette
  client/src/app/selection/selection-logic/clipboard.ts
  client/src/app/tool/color/color-panel/color-panel.component.ts
Due: client-pre, client-lint, client-test

Corriger les duplications de testes
  client/src/app/overlay/pages/export/export.component.spec.ts
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Avancement des testes dans export component
  client/src/app/overlay/pages/export/export.component.spec.ts
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Ajout de console error
  client/src/app/auto-save/local-storage-handler.service.ts
Due: client-pre, client-lint, client-test

Clipboard 100% fonctionnel
  client/src/app/selection/selection-logic/clipboard.ts
  client/src/app/selection/selection-logic/selection-logic-base.ts
Due: client-pre, client-lint, client-test

Boutton exit de la galerie en postion absolute
  client/src/app/overlay/overlay.service.ts
  client/src/app/overlay/pages/gallery/gallery.component.scss
  client/src/app/overlay/pages/save/save.component.html
  client/src/app/overlay/pages/save/save.component.scss
  client/src/app/tool/bucket/bucket-panel/bucket-panel.component.scss
  client/src/app/tool/drawing-instruments/aerosol/aerosol-panel/aerosol-panel.component.scss
  client/src/app/tool/drawing-instruments/brush/brush-panel/brush-panel.component.scss
  client/src/app/tool/drawing-instruments/featherpen/featherpen-panel/featherpen-panel.component.scss
  client/src/app/tool/drawing-instruments/pencil/pencil-panel/pencil-panel.component.scss
  client/src/app/tool/eraser/eraser-panel/eraser-panel.component.scss
  client/src/app/tool/grid/grid-panel/grid-panel.component.scss
  client/src/app/tool/shape/ellipse/ellipse-panel/ellipse-panel.component.scss
  client/src/app/tool/shape/line/line-panel/line-panel.component.scss
  client/src/app/tool/shape/polygone/polygone-panel/polygone-panel.component.scss
  client/src/app/tool/shape/rectangle/rectangle-panel/rectangle-panel.component.scss
  client/src/app/tool/text/text-panel/text-panel.component.scss
Due: client-pre, client-lint, client-test

Ajout de README.rst
  README.rst
Due: none

Retrer de readme et README.md
  README.md
  readme
Due: none

Typo dans le README
  README.rst
Due: none

Typo 2 dans le README
  README.rst
Due: none

Corriger l’indentation dans « data.fbs »
  data.fbs
Due: none

Ajouter une section pour VSCode dans le README
  README.rst
Due: none

Ajout de pretest dans le serveur
  server/package.json
Due: server-pre, server-lint, server-test

Comparaisons explicites dans le router.ts
  server/src/database.ts
Due: server-pre, server-lint, server-test

Corriger le prototype de la fonction « verifyBuffer » en cas d’erreur
  server/src/__tests__/router.ts
  server/src/router.ts
Due: server-pre, server-lint, server-test

Corriger les tests de « verifyBuffer »
  server/src/__tests__/router-verify.ts
  server/src/__tests__/router.ts
  server/src/router.ts
Due: server-pre, server-lint, server-test

Retourner ACCEPTED au lieu de OK en cas de succès pour l’envoi de courriel
  client/src/app/communication/communication.service.ts
  server/src/__tests__/router.ts
  server/src/router.ts
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

100% tests sur export
  client/src/app/overlay/pages/export/export.component.html
  client/src/app/overlay/pages/export/export.component.spec.ts
  client/src/app/overlay/pages/export/export.component.ts
Due: client-pre, client-lint, client-test

Gérer explicitement le cas où le quota est dépassé
  server/src/__tests__/router.ts
  server/src/constants.ts
  server/src/router.ts
Due: server-pre, server-lint, server-test

lint sur le serveur
  server/src/__tests__/router-verify.ts
  server/src/__tests__/router.ts
  server/src/router.ts
Due: server-pre, server-lint, server-test

Supprimer le dossier uploads dans npm run clean
  server/package.json
Due: server-pre, server-lint, server-test

Mettre à jour les dépendances du serveur
  server/package.json
Due: server-pre, server-lint, server-test

Corriger l’erreur « Cannot read property ‘_events’ of undefined » dans le serveur
  server/src/router.ts
Due: server-pre, server-lint, server-test

finition des tests copier coller
  client/src/app/selection/selection-logic/clipboard.spec.ts
  client/src/app/selection/selection-logic/clipboard.ts
Due: client-pre, client-lint, client-test

icones de la sidebar
  client/src/app/overlay/overlay.service.spec.ts
  client/src/app/tool/color/color-panel/color-panel.component.html
  client/src/app/tool/color/color-panel/color-panel.component.spec.ts
  client/src/app/tool/color/color-panel/color-panel.component.ts
Due: client-pre, client-lint, client-test

début des corrections du excel
  client/src/app/overlay/overlay-manager.ts
  client/src/app/panel/panel.component.ts
  client/src/app/shortcut-handler/shortcut-handler-manager.service.ts
  client/src/app/shortcut-handler/shortcut-handler.service.spec.ts
  client/src/app/shortcut-handler/shortcut-handler.service.ts
  client/src/app/tool/color/color-panel/color-picker-content/color-picker-content.component.spec.ts
  client/src/app/tool/color/color-panel/color-picker-content/color-picker-content.component.ts
  client/src/app/tool/text/text-logic/text-logic.component.ts
Due: client-pre, client-lint, client-test

Ajout du fichier NOT_FOUND
  client/src/app/not-found.ts
  client/src/app/overlay/overlay-manager.ts
  client/src/app/overlay/pages/export/export.component.ts
  client/src/app/overlay/pages/gallery/gallery.component.ts
  client/src/app/panel/panel.component.ts
  client/src/app/selection/selection-logic/clipboard.spec.ts
  client/src/app/shortcut-handler/shortcut-handler-manager.service.ts
  client/src/app/shortcut-handler/shortcut-handler.service.spec.ts
  client/src/app/shortcut-handler/shortcut-handler.service.ts
  client/src/app/tool/color/color-panel/color-picker-content/color-picker-content.component.ts
  client/src/app/tool/text/text-logic/text-logic.component.ts
Due: client-pre, client-lint, client-test

Retrait du NOT_FOUND dans les classes
  client/src/app/overlay/pages/gallery/tags-filter/tags-filter.component.ts
  client/src/app/selection/selection-logic/selection-logic-base.ts
  client/src/app/selection/selection-logic/selection-logic.component.ts
Due: client-pre, client-lint, client-test

Ajout de code dans README
  README.rst
Due: none

Fin des refactorings pour le sprint 3
  client/src/app/overlay/pages/export/export.component.spec.ts
  client/src/app/overlay/pages/export/export.component.ts
  client/src/app/overlay/pages/export/progress-export.component.html
  client/src/app/overlay/pages/home/home.component.spec.ts
  client/src/app/sidebar/sidebar.component.html
  client/src/app/sidebar/sidebar.component.scss
  client/src/app/tool/bucket/bucket-logic/bucket-logic.component.ts
  client/src/app/tool/bucket/bucket.service.ts
  client/src/assets/doc/md/Texte.md
Due: client-pre, client-lint, client-test

icône du guide changé
  client/src/assets/doc/md/Consulter le guide.md
  client/src/assets/sidebar-icons/help_outline.png
Due: client-pre, client-lint, client-test

Changement de l'icone de la documentation
  client/src/app/sidebar/sidebar.component.scss
Due: client-pre, client-lint, client-test

Fix de la doc et suppression du secret.json
  client/src/assets/doc/md/Consulter le guide.md
  server/src/secrets.json
Due: client-pre, client-lint, client-test, server-pre, server-lint, server-test

Electron se lance
  client/.gitignore
  client/angular.json
  client/main.ts
  client/package-lock.json
  client/package.json
  client/src/index.html
  client/tsconfig.json
Due: client-pre, client-lint, client-test

Electron prêt pour usage
  client/src/app/overlay/pages/documentation/documentation.component.ts
  client/src/app/overlay/pages/export/progress-export.component.html
  client/src/app/overlay/pages/home/home.component.html
  client/src/app/overlay/pages/new-draw/new-draw.component.html
  client/src/app/selection/selection-panel/selection-panel.component.html
  client/src/app/sidebar/sidebar.component.html
  client/src/app/tool/drawing-instruments/brush/brush-panel/brush-panel.component.ts
  client/src/assets/doc/md/Affichage de la grille.md
  client/src/assets/doc/md/Annuler - Refaire.md
  client/src/assets/doc/md/Applicateur de couleur.md
  client/src/assets/doc/md/Aérosol.md
  client/src/assets/doc/md/Choisir une couleur.md
  client/src/assets/doc/md/Consulter le guide.md
  client/src/assets/doc/md/Crayon.md
  client/src/assets/doc/md/Créer un nouveau dessin.md
  client/src/assets/doc/md/Déplacer une sélection.md
  client/src/assets/doc/md/Désélection.md
  client/src/assets/doc/md/Efface.md
  client/src/assets/doc/md/Ellipse.md
  client/src/assets/doc/md/Exporter en local.md
  client/src/assets/doc/md/Exporter par courriel.md
  client/src/assets/doc/md/Ligne.md
  client/src/assets/doc/md/Magnétisme.md
  client/src/assets/doc/md/Pinceau.md
  client/src/assets/doc/md/Pipette.md
  client/src/assets/doc/md/Plume.md
  client/src/assets/doc/md/Polygone.md
  client/src/assets/doc/md/Presse papier.md
  client/src/assets/doc/md/Rectangle.md
  client/src/assets/doc/md/Redimensionner une sélection.md
  client/src/assets/doc/md/Reprendre un dessin.md
  client/src/assets/doc/md/Rotation d’une sélection.md
  client/src/assets/doc/md/Sauvegarder votre dessin.md
  client/src/assets/doc/md/Seau de peinture.md
  client/src/assets/doc/md/Sélectionner des objets.md
  client/src/assets/doc/md/Texte.md
  client/src/assets/doc/md/À propos de nous.md
  client/src/index.html
  client/src/styles.scss
Due: client-pre, client-lint, client-test
